<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imagecheck.mapper.HomeworkMapper">
	
    <select id="findResultById" resultType="com.imagecheck.pojo.Homework_Result">
        select * from homework_result where resultid = #{resultId}
    </select>
    <select id="findResultByUserId" resultType="com.imagecheck.pojo.Homework_Result">
        select * from homework_result where taskid = #{taskId} and userid=#{userId}
    </select> 
    <select id="findTaskById" resultType="com.imagecheck.pojo.Homework_Task">
    	select * from homework_task where taskid = #{taskId}
    </select>
    <select id="findTasks" resultType="com.imagecheck.pojo.Homework_Task">
    	select * from homework_task order by taskid desc limit #{start},#{offset}
    </select>
    <select id="findResultsByTaskId"  resultType="com.imagecheck.pojo.Homework_Result">
    	select * from homework_result order by resultid desc limit #{start},#{offset}
    </select>
    
    <select id="findTasksCount" resultType="java.lang.Integer">
    	select count(1) from homework_task
    </select>
    <select id="findResultCountByTaskId" resultType="java.lang.Integer">
    	select count(1) from homework_result where taskid=#{taskId}
    </select>
    	
    <insert id="addTask" >
    	insert into homework_task(taskid, title, description, srcpath, functionname) values(#{task.taskId},#{task.title},#{task.description},#{task.srcPath},#{task.functionName})
    </insert>
    <update id="updateTask">
    update homework_task set
    title = #{task.title},
    description = #{task.description},
    srcpath = #{task.srcPath},
    functionname = #{task.functionName}
  where taskid = #{task.taskId}
  </update>
    <delete id="deleteTask">
    delete from homework_task where taskid = #{taskId}</delete>
    <insert id="addResult">
    insert into homework_result(taskid, resultid, userid, description, resultpath) values(#{result.taskId},#{result.resultId},#{result.userId},#{result.description},#{result.resultPath})
    </insert>
    <update id="updateResult">
    update homework_result set
    taskid = #{result.taskId},
    userid = #{result.userId},
    description = #{result.description},
    resultpath = #{result.resutlPath}
  	where resultid = #{result.resultId}
    </update>
    <delete id="deleteResult">delete from homework_result where resultid = #{resultId}</delete>
    <delete id="deleteResults">delete from homework_result where taskid = #{taskId}</delete>
    
   
</mapper>